@model User

<div>
    <h4>User Profile</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            <strong>Id</strong>
        </dt>
        <dd class="col-sm-10">
            @Model.Id
        </dd>

        <dt class="col-sm-2">
            <strong>Email</strong>
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>

        <dt class="col-sm-2">
            <strong>Password</strong>
        </dt>
        <dd class="col-sm-10">
            @Model.Password
        </dd>

    </dl>
</div>